* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
p {
  max-width: 65%;
  min-width: 500px;
  padding-bottom: 20px;
}
.nav {
	max-width: 25%;	
	background-color: #c0ecf4;
	min-width: 140px;
	flex: 1;
	padding: 30px;
	width: 200px;
}

.content {
	min-width: 75%;
	padding-left: 30px;
}

.container {
	display: flex;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 2.6rem;
	text-align: center;
	padding-bottom: 20px;
}

h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

ul li {
		padding: 2px;
}